# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings




CLOUDNARY_CLOUD_NAME ='daixkjic6'
CLOUDNARY_API_KEY='116355353557911'
CLOUDNARY_API_SECRET='dtUmDX8jDSiGYy-R1sQgaTSKfsM'

DATABASE_URL="postgresql://postgres:4A6*6e4GEdBcA6ff4bDFA423gabB6E23@viaduct.proxy.rlwy.net:58689/railway"

PGDATABASE=railway
PGHOST=viaduct.proxy.rlwy.net
PGPORT=58689
PGPASSWORD=4A6*6e4GEdBcA6ff4bDFA423gabB6E23
PGUSER=postgres

PORT=
JWT_SECRET=